//@import '../sass/base/variables';
//@import '../sass/base/mixins';

* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    
}

.container{
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/benifits';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/reviews';