.scheme{
    height: 454px;
    padding: 51px 0 46px 0;
    background-color: #f3f3f3;
    &_main{
        &_title{
            text-transform: uppercase;
            font-size: 26px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.88;
            letter-spacing: normal;
            text-align: center;
            color: #2e2e2e;
        }
        &_blocks{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .block{
                margin:20px 12px 0 12px ;
                width: 258px;
                height: 145px;
                img{
                    display: block;
                    margin: 0 auto;
                    height: 54px;
                }
                &_title{
                    margin-top: 10px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #ec644b;
                    

                }
                &_descr{
                    margin-top: 2px;
                    font-size: 14px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: center;
                    color: #3a3a3a;
                }
            }
        }
    }
    
}